streamlit
chromadb

langchain
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters

sentence-transformers
img2vec-pytorch
torch
torchvision

opencv-python
pillow
numpy
